@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Inter, serif;
}

body {
  background-color: #393e46;
}

#container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4rem;
}

#card {
  background: linear-gradient(120deg, #f6d365, #fda085);
  width: 300px;
  height: 400px;
  border-radius: 10px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}
#search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

#city-input {
  width: 80%;
  height: 40px;
  border: none;
  border-radius: 5px;
  padding: 0 10px;
  font-size: 1rem;
}

#search-button {
  width: 20%;
  height: 40px;
  border: none;
  border-radius: 5px;
  background-color: #222831;
  color: #eeeeee;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

#search-button:hover {
  background-color: #393e46;
}

#weather-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 0.25rem;
}

#degrees {
  font-size: 3.25rem;
  color: #222831;
  font-weight: 500;
}

#city-name {
  font-size: 1.5rem;
  color: #222831;
  font-weight: 500;
}

#description {
  font-size: 1rem;
  color: #222831;
  font-weight: 500;
}

#details-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.detail {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.detail-name {
  font-size: 0.85rem;
  color: #222831;
}

.detail-value {
  font-size: 1.25rem;
  color: #222831;
  font-weight: 500;
}

#weather-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  width: 100%;
  height: 100%;
}

.hidden {
  display: none;
  opacity: 0;
}
